@model List<StudentDataCRUD_MVC.Models.dbl_student>

@{
    ViewBag.Title = "StudentList";
}

<table class="table table-hover">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Email</td>
        <td>@item.Mobile</td>
        <td>@item.Address</td>
        <td>
            <a href="@Url.Action("Student", new { item.ID, item.FirstName, item.LastName, item.Email, item.Mobile, item.Address})" class="btn btn-success">Edit</a>
            <a href="@Url.Action("Delete", new { item.ID})" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    }
</table>

